.mdl-layout__content {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  .main-left {
    display: flex;
    flex-direction: column;
    .bottom {
      width: 800px;
      .mdl-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .main-right {
    width: 500px;
    .searchInfo {
      display: flex;
      flex-direction: row;
      .form-select {
        width: 300px;
      }
      .radius {
        width: 150px;
      }
    }
  }
}
