.mdl-layout__content {
  display: flex;
  flex-direction: row;
  .main-left {
    display: flex;
    flex-direction: column;
    .bottom {
      width: 800px;
      .mdl-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
