* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(202, 231, 248);
}

h2 {
  text-align: center;
}
section {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.buttonList {
  display: flex;
  flex-flow: row;
  justify-content: end;
  #login {
    border: 0;
    height: 50px;
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    background-color: rgb(183, 215, 233);
    color: rgba(85, 84, 84, 0.87);
    font-size: 19;
    font-weight: 700;
    margin-right: 15px;
  }
  #login:hover {
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.1);
    transform: scale(1.05);
  }
  #login:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    transform: scale(1.025);
  }
  #register {
    border: 0;
    height: 50px;
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    background-color: rgb(183, 215, 233);
    color: rgba(85, 84, 84, 0.87);
    font-size: 19;
    font-weight: 700;
  }
  #register:hover {
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.1);
    transform: scale(1.05);
  }
  #register:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    transform: scale(1.025);
  }

  input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }

  input[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }
}

.form-group {
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
